.inputBox {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.selector {
  display: grid;
  grid-template-areas:
    "happy lovers"
    "pick  pick";
  width: 100%;
}

label {
  display: block;
  width: 100%;

  cursor: pointer;
}

.happy-card,
.lovers-card {
  width: 300px;
}
.happy-card,
.lovers-card {
  position: relative;

  padding: 5px;
  color: #586875;
  background-color: #f4f7f7;
  box-shadow: 0 10px 20px #0006;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.happy-card {
  margin-right: -10px;

  --swing: -25px;
  --overlap: 25px;
}

.lovers-card {
  margin-left: -30px;

  --swing: 50px;
  --overlap: -50px;
}

#happy-radio:checked ~ .selector .happy-card,
#lovers-radio:checked ~ .selector .lovers-card {
  animation-name: swing-forwards;
}

@keyframes swing-forwards {
  0% {
    z-index: 1;
    transform: scale(0.9);
  }
  50% {
    transform: translateX(var(--swing));
  }
  100% {
    z-index: 2;
    transform: translateX(var(--overlap)) scale(1.1);
  }
}

#happy-radio:checked ~ .selector .lovers-card,
#lovers-radio:checked ~ .selector .happy-card {
  animation-name: swing-backwards;
}

@keyframes swing-backwards {
  0% {
    z-index: 2;
    transform: translateX(var(--overlap)) scale(1.1);
  }
  50% {
    transform: translateX(var(--swing));
  }
  100% {
    z-index: 1;
    transform: scale(0.9);
  }
}

/* p {
  margin: 10px -15px 0px;
  padding: 10px;

  font-weight: bold;
  text-align: center;
} */

.happy-pick,
.lovers-pick {
  margin: 30px auto 0;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f4f7f7;
  border-radius: 9999px;
  background-color: #b46d73;
  font-size: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
}

.happy-pick::before,
.lovers-pick::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.happy-pick::before {
  margin-right: 10px;
  content: "\f0a8";
}

.lovers-pick::after {
  margin-left: 10px;

  content: "\f0a9";
}

#happy-radio:checked ~ .selector .happy-pick {
  display: none;
}

#lovers-radio:checked ~ .selector .lovers-pick {
  display: none;
}

@media (max-width: 560px) {
  .happy-card {
    margin-right: -85px;
    --swing: -100px;
  }

  .lovers-card {
    margin-left: -85px;
    --swing: 100px;
  }
}

.dividerAbout {
  border: 2px solid yellow;
  border-radius: 1px;
  width: 100%;
}

.livingIndexTitle {
  position: relative;
  display: flex;
  justify-content: center;
}

.boxPic {
  display: flex;
  justify-content: space-around;
  margin: 150px 50px 300px 50px;
}

.img {
  width: 700px;
  height: 400px;
  padding-right: 100px;
}

.start {
  cursor: pointer;
  color: black;
  margin: 30px auto 0;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f4f7f7;
  border-radius: 9999px;
  background-color: #b46d73;
  font-size: 1.25rem;
}


/* New title css */


#mainPage{
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
 
  
}

.mainTitle{

align-self: center;
display: flex;

}
#staticTitle{
  color:white;

  font-family: Roobert, sans-serif;
  font-size: 4rem;
  line-height: 1.03;
  font-weight: 600;
}


.subTitleMain{
  display: flex;
  
  flex-direction: column;
}
.title1{
  color:#dbfd51;

  font-family: Roobert, sans-serif;
  font-size: 4rem;
  line-height: 1.03;
  font-weight: 600;
  letter-spacing: 5px;
}
.textMain{
  color:rgba(255, 255, 255, 0.5);;
  font-family: Roobert, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
  line-height: 0.2;
  display: flex;

}

.mainAbout{
  background-color: white;
  height: 440px;
  width: 300px;
  border-radius: 40px;
}

/* button css */

.btnStart{
  background-color: rgb(33, 30, 30);
  border-radius: 10px;
  width: 30%;
  height: 30px;
  color: white;
  margin-top: 40px;

  
  
}


#non-static-text{
  text-indent: 10px;
}

.learnText{
  margin-right: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.mainAbout{
  align-self: center;

}

.phoeText1{
  margin-bottom: 0.5rem;
  font-family: Roobert, sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  text-decoration: none;

  

}

.smallText1{
  color: rgba(0, 0, 0, 0.47);
}

.textWrap{
  display: flex;
    /* align-self: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.mainTitle{
  position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.textLeft{
  word-spacing:5px;
   margin: 20px 5px 10px;
  padding: 10px;

  font-weight: bold;
  text-align: left;
  width: 400px;
  height: 200px;
}

.livingIndexText{
  display: flex;
}